.error-404 {
  padding: 150px 0;

  h1 {
    font-size: 60px;
    font-family: 'CamphorStdBold', 'Open Sans';
    color: #000;
    margin-bottom: 96px; }

  .btn {
    font-size: 16px;
    font-family: 'CamphorStdBold', 'Open Sans';
    line-height: 3;
    text-transform: none;
    color: $font-primary;
    background-color: $primary-blue;
    border-radius: 4px;
    padding: 0 75px;
    height: 45px; }

  .btn:hover, .btn:focus {
    color: $primary-blue;
    background-color: $font-primary; }

@media only screen and (max-width: 992px) {

  h1 {
    font-size: 48px;
    margin-bottom: 84px; }

  .btn {
    font-size: 14px;
    line-height: 3.6;
    padding: 0 52px; } }

@media only screen and (max-width: 600px) {

  h1 {
    font-size: 30px;
    margin-bottom: 36px; }

  .btn {
    line-height: 3.4;
    padding: 0 56px; }  } }
