.apply-page {
  padding-top: 100px;

  h1 {
    font-size: 60px;
    font-family: 'CamphorStdBold', 'Open Sans';
    color: #000; }

  .btn {
		font-size: 16px;
		font-family: 'CamphorStdBold', 'Open Sans';
		line-height: 2.5;
		text-transform: none;
    border: none;
		color: $font-primary;
		background-color: $primary-blue;
		border-radius: 4px;
		height: 45px; }

  .btn:hover, .btn:focus {
    color: $primary-blue;
    background-color: $font-primary; }

  .card-panel {
    padding: 60px 70px 36px;
    border-radius: 6px; }

  .wpcf7-form {

    .row {
      margin-bottom: 0;

      .col {
        margin-bottom: 12px;
      } }

    input, select {
      margin-bottom: 8px; }

    input::placeholder {
      color: $primary-blue; }

    input[name="biggest-challenge"]::placeholder, input[name="challenge-overcome"]::placeholder {
      color: #c3c3c3; }

    textarea {
      border: none;
      border-bottom: 1px solid #329af0;
      margin-top: 8px; }

    input[type=date]::-webkit-inner-spin-button, input[type=date]::-webkit-clear-button {
      display: none;
      -webkit-appearance: none; }

    input[type=date]::-webkit-calendar-picker-indicator {
      color: #000;
      display: inherit;
      opacity: 1;
      font-size: 9.7px;
      width: 9px; }

    input:not(.browser-default), select {
      border-bottom: 1px solid $primary-blue; }

    .wpcf7-form-control-wrap input:not(.browser-default):focus, .wpcf7-form-control-wrap select:focus, .wpcf7-form-control-wrap textarea:focus {
      border-bottom: 1px solid $primary-blue;
      box-shadow: 0 1px 0 0 $primary-blue; }

    .select-wrapper input {
      -moz-appearance: none;
      -webkit-appearance: none;
      appearance: none; }

    .dropdown-content span {
      color: $dark-gray; }

    label {
      font-size: 16px;
      color: $primary-blue; }

    input[type=submit], input[type=submit]:focus {
      border-bottom: none;
      margin-top: 21px;
      padding: 0 58px; }

    .wpcf7-response-output {
      margin: 0; } }

  @media only screen and (max-width: 992px) {

    h1 {
      font-size: 48px; }

    .btn {
      font-size: 14px;
      height: 34px;
      line-height: 2.5; }

    .card-panel {
      padding: 30px 27px 25px; } }

  @media only screen and (max-width: 600px) {

    h1 {
      font-size: 30px; } } }
