.contact {

  h1 {
    font-size: 60px;
    font-family: 'CamphorStdBold', 'Open Sans';
    color: #000; }

  p {
    font-size: 18px;
    color: $dark-gray; }

  .card-panel {
    border-radius: 12px;
    padding: 40px 0 18px; }

  .wpcf7-form {

    .wpcf7-form-control-wrap input[type=text], .wpcf7-form-control-wrap input[type=email], .wpcf7-form-control-wrap input[type=tel] {
      margin: 12px 0 8px 0; }

    .wpcf7-form-control-wrap input[name="problem"] {
      margin-top: 0; }

    input::placeholder {
      color: $primary-blue; }

    input:not(.browser-default) {
      border-bottom: 1px solid $primary-blue; }

    .wpcf7-form-control-wrap input:not(.browser-default):focus {
      border-bottom: 1px solid $primary-blue;
      box-shadow: 0 1px 0 0 $primary-blue; }

    label {
      font-size: 16px;
      color: $primary-blue; }

    .select-wrapper input {
      color: $primary-blue;
      -moz-appearance: none;
      -webkit-appearance: none;
      appearance: none; }

    .dropdown-content span {
      color: $dark-gray; }

    input[name="problem"]::placeholder {
      color: #c3c3c3; }

    input[type=submit] {
      margin-top: 21px;
      margin-bottom: 0;
      padding: 0 58px; }

    .btn {
      font-size: 16px;
      font-family: 'CamphorStdBold', 'Open Sans';
      line-height: 2.5;
      text-transform: none;
      border: none;
      color: $font-primary;
      background-color: $primary-blue;
      border-radius: 4px;
      height: 45px; }

    .btn:hover, .btn:focus {
      color: $primary-blue;
      background-color: $font-primary; } }

@media only screen and (max-width: 992px) {

  p {
    font-size: 18px; }

  .btn {
    font-size: 14px; } }

@media only screen and (max-width: 600px) {

  h1 {
    font-size: 30px; }

  p {
    font-size: 14px; } } }
