.contact {
	height: 100%;

	nav {
		background: none;
		position: absolute;
		top: 0;
		z-index: 1;
		-webkit-box-shadow: none;
		box-shadow: none;
		padding: 10px 0;

		.brand-logo img {
			height: 30px;
			width: auto; } }

	.hero {
		color: #000;
		padding: 50px 0 10px;

		.title {
			margin: 40px 0;
			font-size: 2.4rem;
			color: #000;
			text-transform: none; }

		.description {
			font-size: 1.4rem;
			line-height: 1.8;
			margin-bottom: 30px; }

		img {
			min-width: 500px; } }

	.form-container {
		text-align: left;
		background-color: lighten(#000, 99%);
		padding: 40px 20px;
		border-radius: 10px;

		.submit-btn {
			color: white; }

		input[type="submit"] {
			color: white;
			&:hover {
				cursor: pointer; } } }

	.title-2 {
		font-size: 1.5rem;
		text-align: left; }

	.benefits-container {
		margin-top: 90px;
		color: fade-out($font-primary, .05);
		padding-bottom: 100px; }

	.benefits {
		padding: 0;
		margin: 0; }

	.benefit {
		padding: 20px 0;
		margin: 0;
		list-style: none;

		i {
			background-color: fade-out($font-secondary, .4);
			border-radius: 50%;
			padding: 5px;
			margin-right: 10px;
			font-size: 12pt; } }

	.bg {
		position: absolute;
	  top:0;
	  left:0;
	  width: 100%;
	  height: 100%;
		display: flex;
		flex-direction: column;
		z-index: -1; }

	.bg-white {
		width: 100%;
		background-color: white;
		padding: 100px 0 200px;
		z-index: 0; }

	.bg-gradient {
		clip-path: polygon(0 20%, 100% 0, 100% 100%, 0% 100%);
		-webkit-clip-path: polygon(0 20%, 100% 0, 100% 100%, 0% 100%);
		flex-grow: 1;
		width: 100%;
		z-index: -1;
		background: linear-gradient(90deg,#777bf8,#68d4f8 200%); }

	@media only screen and (max-width: 600px) {
		.hero {
			.title {
				font-size: 2rem; }

			.description {
				font-size: 1.2rem; } }

		.bg-white {
			padding: 140px 0 200px; }

		.bg-gradient {
			clip-path: polygon(0 6%, 100% 0, 100% 100%, 0% 100%);
			-webkit-clip-path: polygon(0 6%, 100% 0, 100% 100%, 0% 100%); } } }
