.footer {

  background-color: $dark-gray;

  img {
    height: 45px;
    margin-top: 15px; }

  hr {
    background-color: $font-primary;
    padding-top: 1px; }

  p {
    font-size: 14px;
    font-weight: bold;
    color: $footer-titles;
    margin-top: 16px; }

  ul {
    margin: 18px 0 0 0;

    ul {
      margin: 0;

      li {
       display: inline-block;

        img {
          width: 20px;
          margin-right: 16px; } } } }

  a, a:visited {
    font-size: 12px;
    color: $font-primary; } }
