.index {
	i {
		background-color: $font-secondary;
		color: $font-primary;
		padding: 10px;
		border-radius: 50%;
	}

	.logo {
		height: 40px;
		width: auto;
	}

	.logos {
		margin-bottom: 50px;
	}

	nav {
		background: none;
		position: absolute;
		top: 0;
		z-index: 1;
		-webkit-box-shadow: none;
		box-shadow: none;
		padding: 10px 0;

		.brand-logo img {
			height: 30px;
			width: auto;
		}
	}

	.hero {
		background: linear-gradient(150deg,#53f 15%,#05d5ff 70%,#a6ffcb 94%);
		color: $font-primary;
		padding: 150px 0 160px;
		clip-path: polygon(0 0, 100% 0, 100% 85%, 0% 100%);
		-webkit-clip-path: polygon(0 0, 100% 0, 100% 85%, 0% 100%);

		.title {
			margin-top: 40px;
			font-size: 2.4rem;
			color: $font-primary;
			text-transform: none;
		}

		.subtitle {
			color: $font-primary-off;
			font-size: 1.1rem;
			padding: 0 120px 0 0;
			margin: 30px 0 50px;
			line-height: 2;
		}

		img {
			position: relative;
			left: -50px;
			min-width: 550px;
		}
	}

	.first-section {
		.problem {
			text-align: right;
			margin-bottom: 120px;
		}

		.solution {
			img {
				padding-top: 50px;
			}
		}
	}

	.second-section {
		background-color: $light-gray;
		clip-path: polygon(0 20%, 100% 0, 100% 100%, 0% 100%);
		-webkit-clip-path: polygon(0 20%, 100% 0, 100% 100%, 0% 100%);
		padding: 150px 0 100px;

		.description {
			margin-bottom: 100px;
		}

		.flow-part {
			.img-container {
				margin: 0 115px 20px;
				background-color: #009688;
				padding: 20px;
				border-radius: 50%;
				height: 80px;
				width: auto;
			}

			img {
				height: 100%;
				width: auto;
			}
		}
	}

	.third-section {
		.title {
			text-transform: none;
			color: $text-color;
		}

		.card {
			img {
				min-width: 100%;
			}

			.card-image {
				min-width: 100%;
				height: 150px;
				overflow-y: hidden;
			}
		}
	}

	.fourth-section {
		background-color: $light-gray;

		.subtitle {
			font-size: 1.5rem;
		}

		.cta {
			float: right;
			margin: 30px 0 0;
		}
	}

	@media only screen and (max-width: 600px) {
	    .hero {
			padding: 80px 0 100px;
			line-height: 1.5;

			.title {
				font-size: 1.5rem;
			}

			.subtitle {
				font-size: 1.2rem;
				padding: 0;
			}
		}

		.first-section {
			.title, .description {
				i {
					display: none;
				}
				text-align: center;	
			}
		}

		.second-section {
			clip-path: polygon(0 6%, 100% 0, 100% 100%, 0% 100%);
			-webkit-clip-path: polygon(0 6%, 100% 0, 100% 100%, 0% 100%);
		}

		.third-section {
			padding: 80px 0;

			.logo {
				width: 120px;
				margin: 10px;
			}
		}

		.fourth-section {
			.cta {
				float: none;
			}
		}
	}
}