.front-page {
	padding-top: 45px;
	color: $dark-gray;

	h1 {
		font-size: 48px;
		font-weight: bold;
		color: #000; }

	h5 {
		font-size: 18px;
		line-height: normal;
		margin-bottom: 75px; }

	.btn {
		font-size: 18px;
		font-weight: bold;
		line-height: 2.5;
		text-transform: none;
		color: $font-primary;
		background-color: $primary-blue;
		border-radius: 4px;
		height: 45px; }

	p {
		font-size: 14px;
		text-align: center;
		margin-top: 20px;
		padding: 0 75px; }

@media only screen and (max-width: 992px) {

		padding-top: 90px;

		h1 {
			font-size: 48px;
			margin: 0; }

		h5 {
			font-size: 18px;
			margin-bottom: 36px; }

		.btn {
			font-size: 12px;
			height: 34px; }

		p {
			font-size: 12px;
			padding: 0; } }

@media only screen and (max-width: 600px) {

	h1 {
		font-size: 30px; }

	h5 {
		font-size: 14px;
		margin-top: 0;
		margin-bottom: 24px; }

	p {
		font-size: 10px;
		margin-top: 8px;
		margin-bottom: 24px; }

} }
