.front-page {
	padding-top: 45px;
	color: $dark-gray;

	h1 {
		font-size: 48px;
		font-family: 'CamphorStdBold', 'Open Sans';
		color: #000;
		margin: 72px 0 12px 0; }

	h5 {
		font-size: 18px;
		line-height: normal;
		margin: 0 0 24px 0; }

	.buttons {

		.m5 {
			padding: 0; }

		p {
			color: #707070; } }

	.btn {
		font-size: 16px;
		font-family: 'CamphorStdBold', 'Open Sans';
		line-height: 2.7;
		text-transform: none;
		color: $font-primary;
		background-color: $primary-blue;
		border-radius: 4px;
		height: 45px;
	 	padding: 0 36px; }

	.btn:hover, .btn:focus {
		color: $primary-blue;
		background-color: $font-primary; }

	p {
		font-size: 14px;
		margin-top: 20px; }

@media only screen and (max-width: 992px) {
		padding-top: 90px;

		h1 {
			font-size: 48px;
			margin: 0; }

		h5 {
			font-size: 18px;
			margin-bottom: 36px; }

		.btn {
			font-size: 14px;
			height: 34px; }

		p {
			font-size: 12px;
			padding: 0; } }

@media only screen and (max-width: 600px) {

	h1 {
		font-size: 30px; }

	h5 {
		font-size: 14px;
		margin-top: 0;
		margin-bottom: 24px; }

	p {
		font-size: 10px;
		margin-top: 8px;
		margin-bottom: 24px;
		width: 100%; }

	.buttons {
		text-align: center; }

	.btn {
		font-size: 12px;
	 	line-height: 2.9;
		width: 100%; } } }
