.landing-page {
	padding-top: 90px;

	small {
		font-size: 12px; }

	h2 {
		font-size: 48px;
		font-weight: bold;
		color: #000;
		margin-bottom: 48px; }

	.btn {
		font-size: 18px;
		font-weight: bold;
		line-height: 2.5;
		text-transform: none;
		color: $font-primary;
		background-color: $primary-blue;
		border-radius: 4px;
		height: 45px; }

	header {
		margin-bottom: 170px;

		h1 {
			font-size: 48px;
			font-weight: bold;
			color: #000;
			margin-bottom: 0; }

		h5 {
			font-size: 18px;
			line-height: normal;
			color: $dark-gray; }

		p {
			font-size: 18px;
			line-height: normal;
			color: $dark-gray;
			margin-bottom: 20px; } }

	.section {
		margin-bottom: 100px;

		p {
			font-size: 18px;
			color: $dark-gray; } }

	.portfolio {
		margin-bottom: 100px;

		.card {
			border-radius: 6px;
			height: 350px;

			img {
				border-radius: 6px 6px 0 0; }

			.content {
				padding: 12px; }

			h6 {
				font-size: 16px;
				font-weight: bold;
				color: $dark-gray;
				margin-bottom: 6px; }

			p {
				font-size: 12px;
				color: #707070; } }

		.card-panel {
			border-radius: 6px;
			height: 350px;

			p {
				font-size: 18px;
				font-weight: 300;
				color: $primary-blue; } } }

	.testimonials {
		color: $dark-gray;
		margin-bottom: 100px;

		i {
			font-size: 18px; }

		.author-data {
			font-size: 16px;
			margin-top: 10px; }

		p {
			font-weight: bold; }

		.slider-controls {
			float: right; }

		.slider-controls i {
			font-size: 36px;
			color: $primary-blue;
			cursor: pointer; } }

	.faq {
		margin-bottom: 150px;

    	.collapsible {
    		border: none;
    		-webkit-box-shadow: none;
    		box-shadow: none; }

    	.collapsible-header {
				font-size: 20px;
    		color: $dark-gray;
    		font-weight: bold;
    		margin-top: 20px;
    		padding: 15px 0 8px; }

    	i {
    		font-size: 24px;
    		margin-right: 0;
				margin-left: auto; }	}

	.partners {
		margin-bottom: 50px;

		img {
			margin-bottom: 20px; } }

	.invite {
		h3 {
			font-size: 36px;
			font-weight: bold;
			color: #000;
			margin-top: 0; }

		p {
			font-size: 18px;
			font-weight: bold;
			color: $dark-gray; } }

	@media only screen and (max-width: 992px) {

		h2 {
			font-size: 36px;
			margin-bottom: 0; }

		.btn {
			font-size: 12px;
		 	height: 34px;
		 	line-height: 2.7; }

		.portfolio {

			.row .col {
				padding: 0 3px; }

			.card {
				height: 250px;

				.content {
					padding: 0 12px; }

				h6 {
					font-size: 14px;
				 	margin-top: 0px; }

				p {
					font-size: 10px; } }

				.card-panel {
					height: 250px;
					padding: 18px;

					p {
						font-size: 16px; } } }

		.testimonials {

			i {
				font-size: 14px; }

			.author-data {
				font-size: 12px; } }

		.faq {

			.collapsible-header {
				font-size: 16px; } } }

	@media only screen and (max-width: 600px) {

		h2 {
			font-size: 24px;
			margin-bottom: 0; }

		header {
			margin-bottom: 100px;

			h1 {
				font-size: 30px; }

			h5, p {
				font-size: 14px;
				margin-bottom: 0; } }

		.portfolio {

			.row .col {
				padding: 0 3px; }

			.card {
				height: 250px;

				.content {
					padding: 0 12px; }

				h6 {
					font-size: 14px;
				 	margin: 8px 0; }

				p {
					font-size: 10px; } }

				.card-panel {
					height: 250px;
					padding: 24px;

					p {
						font-size: 16px; } } }

		.testimonials {

			i {
				font-size: 14px; }

			.author-data {
				font-size: 12px; } }

		.faq {

			.collapsible-header {
				font-size: 14px; } }

		.invite {

			h3 {
				font-size: 24px; } } } }
