.navbar {
  background-color: $font-primary;
  box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.16);
  -webkit-box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.16);

  .sidenav-trigger {
    color: #000; }

  img {
    height: 36px; }

  .brand-logo {
    font-size: 3rem; }

  ul a, ul a:visited {
    font-size: 16px;
    font-weight: bold;
    color: $dark-gray;
    background-color: $font-primary;
    outline: none; }

  .dropdown-content li>a {
    color: $dark-gray; }

  ul li .btn {
    font-size: 16px;
    font-weight: bold;
    line-height: 2.7;
    text-transform: none;
    color: $font-primary;
    background-color: $primary-blue;
    border-radius: 4px;
    height: 45px; }

  ul a:hover {
    color: $primary-blue;
    background: $font-primary; }

  .dropdown-content li {
    min-height: initial ;

  a {
    font-size: 12px;
    font-weight: normal;
    text-align: center;
    padding: 7px 30px; } } }
