$font-primary: #fff;

$font-primary-off: fade-out($font-primary, .2);

$font-secondary: #009688;

$light-gray: #F6F9FC;

$footer-links: #eaeaea;

$footer-hover: #bcbcbc;

$dark-gray: #373737;

$text-color: #525f7f;

$primary-blue: #329af0;
